<div class="amenity-tags">
{% if stop.has_diesel %}<span class="amenity-tag"><i class="fa-solid fa-gas-pump"></i> Diesel</span>{% endif %}
{% if stop.has_showers %}<span class="amenity-tag"><i class="fa-solid fa-shower"></i> Showers{% if stop.shower_count %} ({{ stop.shower_count }}){% endif %}</span>{% endif %}
{% if stop.has_scale %}<span class="amenity-tag"><i class="fa-solid fa-weight-scale"></i> Scale{% if stop.scale_type %} ({{ stop.scale_type | upper }}){% endif %}</span>{% endif %}
{% if stop.has_repair %}<span class="amenity-tag"><i class="fa-solid fa-wrench"></i> Repair</span>{% endif %}
{% if stop.has_tire_service %}<span class="amenity-tag"><i class="fa-solid fa-circle-dot"></i> Tire Service</span>{% endif %}
{% if stop.has_wifi %}<span class="amenity-tag"><i class="fa-solid fa-wifi"></i> WiFi</span>{% endif %}
{% if stop.has_def %}<span class="amenity-tag"><i class="fa-solid fa-droplet"></i> DEF</span>{% endif %}
{% if stop.has_laundry %}<span class="amenity-tag"><i class="fa-solid fa-shirt"></i> Laundry</span>{% endif %}
{% if stop.has_ev_charging %}<span class="amenity-tag"><i class="fa-solid fa-charging-station"></i> EV Charging</span>{% endif %}
</div>
